@tailwind base;
@tailwind components;
@tailwind utilities;

.iframe-container {
  height: calc(100% - 55px);
}

iframe {
  height: calc(100% + 55px);
}

.shadow-neon {
  box-shadow: 0 0 10px #00f, 0 0 20px #00f, 0 0 40px #0ff;
}
